@import "../../../styles/_flexbox";

$cor-da-borda: #F7F9FB;

.filtroLista {
  @include flexbox;
  @include justify-content(center);
  background-color: #fff;
  color: #000;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-top:5px solid $cor-da-borda;
  margin-left:10px;
  margin-right:10px;

  .filtrarLabel {
    display: inline-block;
    color: #000;
    font-weight: bold;
  }

  .filtroItems {
    width: 30%;
    margin-left: 10px;
    @include flexbox;
    @include justify-content(space-around);
  }

}